<div class="container">
    <div class="champion">
        <p class="champion-name">{{ name }}</p>
        <img class="champion-image" src="http://ddragon.leagueoflegends.com/cdn/10.10.3216176/img/champion/{{ name }}.png" alt="">
    </div>
   
</div>
