<div class="container">
    <div class="champions">
        {{#each champs}}
        <div class="champion {{ @key }}">
            <a target="_blank" class="champion-link" href="/champions/{{ @key }}">
                <p class="champion-name">{{ @key }}</p>
                <img class="champion-image" src="http://ddragon.leagueoflegends.com/cdn/10.10.3216176/img/champion/{{ this }}.png" alt="">
            </a>
        </div>
        {{/each}}
    </div>
</div>