<header>
    <div class="container">
        <nav>
    <div class="navbar">
        <a href="/" class="header-brand">LeagueOL101</a>
        <ul>
        <li><a href="/">About</a></li>
        <li><a href="/">Resources</a></li>
        <li><a href="/">Masteries</a></li>
        </ul>
    </div>
    </nav>
    </div>
    <section class="hero">
        <div class="frame"></div>
        <div class="logo"><img src="./static/logo1.png" alt="Logo"></div>
        <div class="container">
        </div>
    </div>
    </header>
    <div class="champions">
        <div class="container">
            <div class="title">
                <div class="rectangle">
                <h3>Choose Your <text>Legend</text></h3>
                </div>
                <div class="container">
            {{#each champs}}
        <div class="champion {{ @key }}">
            <a target="_blank" class="champion-link" href="/champions/{{ @key }}">
                <p class="champion-name">{{ @key }}</p>
                <img class="champion-image" src="http://ddragon.leagueoflegends.com/cdn/10.10.3216176/img/champion/{{ this }}.png" alt="">
            </a>
        </div>
        {{/each}}
    </div>
</div>
            </div>
        
        <h1></h1>
    </div>
   
