/* ---- RESET STYLESHEET ---- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}


mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}


hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ---- CODE ---- */


body {
    background-image: url("/./static/test1-edit.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}   

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}

/* .container1 {
    width: 100%;
    animation-name: appear;
    animation-duration: 1.5s;
    transition: all 500ms cubic-bezier(0.550, 0.085, 0.680, 0.530); 
} */


.navbar {
    margin: 30px auto;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    flex: 0.5;
    
    
    
}


li img {
    height: 25px; 

}
ul li {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;


}

ul li a::after {
    content: '';
    width: 100%;
    height: 10px;
    background: transparent
}
ul li a {
    color: black;
    padding: 0 15px;
    color: white;
    padding: 10px 20px;

   
}

.header-brand {
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-weight: 900;
    margin-left: 31px;
    color: white;
    letter-spacing: 1px;
    border-right: 5px solid #D0A85D;
    text-align: center;
    display: block;
    margin: 0 100px;
 

}

.header-brand::before {
    content:" ";
    bottom: 10px;
    height: 2px;
    background: #D0A85D;
    display: block;
    left: 40px;
    width: 10px;
    transition: 0.3s ease-in-out;
}

.header-brand:hover,.header-brand.active {color: white;}
.header-brand:hover::before, .header-brand.active::before {width: 100%;}


/* ---- FONT ---- */

h1 {
    color: white;
    font-size: 40px;
    padding-left: 20px;
}


.dif h3 {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 10px; 
    text-align: center;
    
}

.dif h4 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    text-align: center;
    margin: 0 0 20px; 
    padding-left: -10px
}

.play-as h3 {
    font-size: 23px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    text-align: center;
    margin: 0 0 20px; 
    padding-left: -10px
}
.play-as h4 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    text-align: center;
    margin: 0 0 20px; 
    padding-left: -10px
}

.play-as p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    text-align: center;
    margin: 0 0 20px; 
    padding-left: -10px
}

.lore h3 {

    font-size: 20px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300; 
    text-align: center;
    margin: 25 25 35px; 
    padding-left: -10px

}


/* ---- CONTAINERS ---- */

.section-container {
    display: grid;
    grid-gap: 50px;
    grid-template-areas: "showcase showcase top-box-a";
    padding-top: 50px;
    justify-items: center;

}

.ability-container {
    width: 500px;
    height: 100px;
    background-color:  #3D494E;
    position: relative;
    justify-content: center;
    outline: 2px solid #D0A85D;
    outline-offset: 15px;
    
}

.abilities {
    padding: 20px 20px 20px 20px;
    display: inline-block;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 25px;
    animation-name: appear;
    animation-duration: 2s;
    transition: all 500ms cubic-bezier(0.550, 0.085, 0.680, 0.530);


    
}

.a-b-container {
    width: 600px;
    height: 600px;
    background-color:  #3D494E;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: span 2;
    margin-left: 30px;
    outline: 1px solid #D0A85D;
    outline-offset: 15px;
    border-radius: 30px;
    border: 1px solid white;
    box-sizing: border-box;
    background-image: linear-gradient(to right, white 100px, transparent 100px), linear-gradient(to bottom, white 50px, transparent 50px), linear-gradient(to right,white 50px, transparent 50px), linear-gradient(to bottom,white 50px, transparent 50px);
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px, right -50px, 200px bottom, 0px 200px;
    animation: border 5s linear infinite;
    transition: 500ms;
    

}



.splash-art {
    grid-area: 1 / col4-start / last-line / 6;
    background-color:  #3D494E;
    position: relative;
    margin-right: 100px;
    overflow: hidden;
    display: inline-block;
    outline: 1px solid #D0A85D;
    outline-offset: 15px;
    transition: all 400ms ease;
}

.splash img {
    width: 600px;
    height: 600px;
    background: cover;
    object-fit: cover;
    object-position: 83% 50%;
    overflow: hidden;
    position: relative;
    transition: transform .5s ease;
    transition: all 400ms ease;

}



.splash img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 2px -2px white;
    animation-timing-function: ease-in-out;
    transition: all 400ms ease;   
}

.name-tag h1 {
    transition: all 400ms ease;  
}

.splash img:hover ~ .name-tag h1 {
    padding-right: 50px;
    transition: all 400ms ease;  
}


/* .skin-container {
    width: 500px;
    height: 100px;
    background-color: #3C484D;
    grid-area: 1 / col4-start / last-line / 6;
    
}
.skin-block {
 clip-path: inset(10px 50px 50px 50px);   
} */

/* .skin-block > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 70% 20%;
    overflow: hidden;
} */

.name-tag {
    background-color: #3C484D;
    height: 70px;
    width: 500px;
    position: relative;
    z-index: 999;
    padding-top: 10px;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 40px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.champion-title > h1 {
    padding-left: 100px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.tabContainer{
    width: 100%;
    height: 580px;
    overflow: scroll;
    transition: 500ms;
    border-radius: 20px;
    
    
}
.tabContainer .buttonContainer{
    height: 15%;

}

.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #eee;
    letter-spacing: 2px;

}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
    transition: 500ms;
}
.tabContainer .tabPanel{
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
    transition: 500ms;
}

.tabPanel {
    letter-spacing: 1px;
    margin: 20px 20px 20px 20px;
    animation-name: appear;
    animation-duration: 1.4s;
    transition: all 500ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

.tabPanel img {
    border-radius: 20%;
}

.abilities img {
    border: 1px solid white;

}

.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
    animation-name: appear;
    animation-duration: 1.4s;
 
}


.tooltip .top {
    min-width:200px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
   
  

}

.tooltip:hover .top {
    display:block;
    animation-name: appear;
    animation-duration: 0.5s;
    transition: all 500ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;

}

.tooltip  .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color: #EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}



.tooltip2 {
    display:inline-block;
    position:relative;
    text-align:left;
    animation-name: appear;
    animation-duration: 1.4s;
 
}


.tooltip2 .top2 {
    min-width:200px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
   
  

}

.tooltip2:hover .top2 {
    display:block;
    animation-name: appear;
    animation-duration: 0.5s;
    transition: all 500ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

.tooltip2 .top2 i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;

}

.tooltip2  .top2 i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color: #EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

 .dif {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
 }

 .play-as {
     border-bottom: 1px solid white;
     margin-bottom: 40px;
    padding: 30px 30px 30px 30px;

 }

 .items {
    padding: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    border: 1px solid  #D0A85D;
 }


 /* ---- SCREENS ---- */

/* @media only screen and (min-width: 1564px) and ( max-width: 1600px ) {
    .name-tag {
        background-color: #3C484D;
        height: 70px;
        width: 500px;
        position: relative;
        z-index: 999;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 2px;
        margin-right: auto;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-left: -10%;
        padding-left: 10%;
     
    
}
} */

@media only screen and (min-width: 1529px){
    .name-tag {
        background-color: #3C484D;
        height: 70px;
        width: 60%px;
        position: relative;
        z-index: 999;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 2px;
        margin-right: auto;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-left: 15vh;
    
}

.splash-art {
    max-width: 100vh;
    grid-area: 1 / col4-start / last-line / 6;
    background-color:  #3D494E;
    position: relative;
    margin-right: 100px;
    overflow: hidden;
    display: inline-block;
    outline: 1px solid #D0A85D;
    outline-offset: 15px;
    transition: all 400ms ease;
    margin-left: 10%
}

.splash img {
    max-width: 100vh;
    max-height: 100%;
    object-fit: cover;
    background-size: cover;
    min-width: 100vh;
    object-position: 83% 50%;
    overflow: hidden;
    position: relative;
    transition: transform .5s ease;
    transition: all 400ms ease;

}

}


/* 
@media only screen and (min-width: 1603px) and ( max-width: 1687px ) {

    .name-tag {
        background-color: #3C484D;
        height: 70px;
        width: 500px;
        position: relative;
        z-index: 999;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 2px;
        margin-right: auto;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-left: -7%;
        padding-left: 10%;
    }

}
@media only screen and (min-width: 1463px) and ( max-width: 1500px ) {
    .name-tag {
        background-color: #3C484D;
        height: 70px;
        width: 500px;
        position: relative;
        z-index: 999;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 2px;
        margin-right: auto;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-left: -7%;
    }
    .splash-art {
        max-width: 70%;
        grid-area: 1 / col4-start / last-line / 6;
        background-color:  #3D494E;
        position: relative;
        margin-right: 100px;
        overflow: hidden;
        display: inline-block;
        outline: 1px solid #D0A85D;
        outline-offset: 15px;
        transition: all 400ms ease;
    }
    
    .splash img {
        max-width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: 90% 50%;
        overflow: hidden;
        position: relative;
        transition: transform .5s ease;
        transition: all 400ms ease;
    
    }
}

@media only screen and (min-width: 1355px) and ( max-width: 1462px ) {
    .name-tag {
        background-color: #3C484D;
        height: 70px;
        width: 500px;
        position: relative;
        z-index: 999;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 2px;
        margin-right: auto;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-left: -20%;

    }

    .name-tag h1 {
        max-width: 100%;
        transition: all 400ms ease; 

        font-size: 2vw;
    }
}


@media only screen and (min-width: 800px) and ( max-width: 1283px ) {

    .splash-art {
        min-width: 70%;
        grid-area: 1 / col4-start / last-line / 6;
        background-color:  #3D494E;
        position: relative;
        margin-right: 100px;
        overflow: hidden;
        display: inline-block;
        outline: 1px solid #D0A85D;
        outline-offset: 15px;
        transition: all 400ms ease;
    }
    .splash img {
        min-width: 30%;
        min-height: 30%;
        object-fit: cover;
        object-position: 83% 50%;
        overflow: hidden;
        position: relative;
        transition: transform .5s ease;
        transition: all 400ms ease;
    
    }


    .name-tag {
        background-color: #3C484D;
        height: 70px;
        width: 500px;
        position: relative;
        z-index: 999;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 2px;
        margin-right: auto;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-left: -28%;
    }

    .name-tag h1 {
        max-width: 100%;
        transition: all 400ms ease; 

        font-size: 2vw;
    }
}

@media only screen and (min-width: 1400px) and ( max-width: 1460px ) {
     .splash-art {
        grid-area: 1 / col4-start / last-line / 6;
        background-color:  #3D494E;
        position: relative;
        margin-right: 100px;
        overflow: hidden;
        display: inline-block;
        outline: 1px solid #D0A85D;
        outline-offset: 15px;
        transition: all 400ms ease;
    }
    .splash img {
        width: 700px;
        height: 600px;
        object-fit: cover;
        object-position: 75% 100%;
        overflow: hidden;
        position: relative;
        transition: transform .5s ease;
        transition: all 400ms ease;
    
    }

    .name-tag {
        background-color: #3C484D;
        height: 70px;
        width: 500px;
        position: relative;
        z-index: 999;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 2px;
        margin-right: auto;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-left: -12%;

    }

    .name-tag h1 {
        max-width: 100%;
        transition: all 400ms ease; 
        font-size: 2vw;
    }
}

@media only screen and (min-width: 1403px) and ( max-width: 1416px ) {

    .name-tag {
        background-color: #3C484D;
        height: 70px;
        width: 500px;
        position: relative;
        z-index: 999;
        padding-top: 10px;
        text-align: center;
        letter-spacing: 2px;
        margin-right: auto;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-left: -15%;

    }

    .name-tag h1 {
        max-width: 100%;
        transition: all 400ms ease; 
        font-size: 2vw;
    }

}





 */


@keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes border {
    20% {
      background-position: 150px 0px, right -50px, 600px bottom, 0px 600px;
    }
    25% {
      background-position: 600px 0px, right 0px, 600px bottom, 0px 600px;
    }
    45% {
      background-position: 600px 0px, right 150px, 600px bottom, 0px 600px;
    }
    50% {
      background-position: 600px 0px, right 200px, 150px bottom, 0px 600px;
    }
    70% {
      background-position: 600px 0px, right 600px, 0px bottom, 0px 600px;
    }
    75% {
      background-position: 600px 0px, right 600px, -50px bottom, 0px 150px;
    }
    95% {
      background-position: 600px 0px, right 600px, -50px bottom, 0px 0px;
    }
    95.1% {
      background-position: -50px 0px, right 600px, -50px bottom, 0px 0px;
    }
    100% {
      background-position: 0px 0px, right 600px, -50px bottom, 0px -50px;
    }
  }