/* ---- RESET STYLESHEET ---- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}


mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}


hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ---- CODE ---- */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}


.hero {
    width: 100%;
    height: 80vh;
    margin: auto;
    position: relative;
    background-color: #3D494E;
    

}



.navbar {
    margin: 30px auto;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    flex: 0.5;
    animation-name: appear;
    animation-duration: 5s;
    transition: all 500ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
    
    
}

ul li {
    display: inline-block;
    margin: 0 20px;
   
}


ul li a:hover {
    bottom: 10px;
    opacity: 1;
    box-shadow: 0px 0px 0px 2px #D0A85D;
    opacity: 2;
    color: rgb(199, 196, 196);
}

ul li a {
    padding: 0 15px;
    color: white; 
    display: flex;
    transition: box-shadow 0.6s ease-in-out;
    margin: 0.5em;
    padding: 5px 5px 5px 5px;
   

}


.container {
    width: 100%;
    animation-name: appear;
    animation-duration: 2s;
    transition: all 500ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
    align-items: center;
    justify-content: center;
    display: flex;


    
}

.header-brand {
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-weight: 900;
    margin-left: 31px;
    color: white;
    letter-spacing: 1px;
    border-right: 5px solid #D0A85D;
    text-align: center;
    display: block;
    margin: 0 100px;
 

}

.header-brand::before {
    content:" ";
    bottom: 10px;
    height: 2px;
    background: #D0A85D;
    display: block;
    left: 40px;
    width: 10px;
    transition: 0.3s ease-in-out;
}

.header-brand:hover,.header-brand.active {color: white;}
.header-brand:hover::before, .header-brand.active::before {width: 100%;}

.logo > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    align-items: center;
    padding: 230px 0px 0px 0px;
    filter: contrast(148%);
    filter: drop-shadow(5px 5px 35px #111111);
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;


}

.frame {
    width: 90%;
    height: 60%;
    margin-left: 80px;
    margin-top: 100px;
    margin-right: auto;
    border: 1px solid #D0A85D;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: block;
    border-radius: 2%;
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

} 


.rectangle {
    height: 100px;
    width: 540px;
    background-color: #B8F2FF;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    animation-name: appear;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
.rectangle > h3 {
    color: #181F20;
    font-size: 50px;
    padding-top: 25px;
    padding-left: 30px;
    font-weight: normal;
}

.rectangle > h3 > text {
    font-weight: bold;

}

.champs {
    padding: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.champion {
    text-align: center;
    margin: 50px;
   
}

.champion-link p {
    margin: 0;
}

.champion-name {
    letter-spacing: 1px;
    display: block;
    color: black;
    padding: 1rem 0;
    font-size: 1.15rem;
    font-weight: bold;
}

.champion-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 10px 20px -2px rgb(109, 107, 107);
    box-shadow: 0 0 0 4px #D3BD94;
    transition: box-shadow 0.6s ease-in-out;
    transition: all 600ms ease;
  
}


.champion-image:hover {
    border: 7px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 10px #D3BD94;
    box-sizing: border-box;
    animation-timing-function: ease-in-out;
    transition: all 400ms ease;
    opacity: 0.75;
}

.border {
    border: 7px solid rgb(255, 255, 255);
}





.champion a {
    text-decoration: none;
}



@keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes text-a {
    0% { color: transparent }
    100% { color: white }
}

@keyframes spin {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
